@font-face {
    font-family: 'Bullet';
    src: url('../fonts/BulletInYourHead.ttf') format('truetype');
}

@font-face {
    font-family: 'DRIVEBY';
    src: url('../fonts/DRIVEBY.TTF') format('truetype');
}

@bluecolor: #2980b9;
@redcolor: #e74c3c;
@orangecolor: #ff7200;

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#FixedMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    text-align: center;

    h1 {
        color: white;
        letter-spacing: 1px;
        font-size: 60px;
        font-family: Bullet;
        font-weight: 200;
        margin: 10px 10px 0 10px;
        padding: 0;
        z-index: 71;
        cursor: pointer;

        @media screen and (max-width: 1279px), screen and (max-height: 800px) {
            font-size: 45px;
            margin: 5px 5px 0 5px;
        }
    }
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background: #2980b9;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px 5px;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 200;
    font-family: DRIVEBY;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 1279px), screen and (max-height: 800px) {
        font-size: 20px;
        padding: 5px 10px;
    }
}

.layout-inner-sections {
    width: 90%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
}

.layout-left-side {
    float: left;
    width: 35%;
    height: 100%;
    margin-left: 13%;
    margin-right: 2%;
    padding-top: 15px;
    background-color: rgba(255,255,255,1);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;

    @media screen and (max-width: 1281px), screen and (max-height: 900px) {
        height: 112%;
        width: 40%;
        margin-left: 8%;
    }
}

.layout-right-side {
    float: left;
    width: 35%;
    height: 100%;
    margin-right: 13%;
    margin-left: 2%;
    padding-top: 15px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;

    @media screen and (max-width: 1281px), screen and (max-height: 900px) {
        height: 112%;
        width: 40%;
        margin-right: 8%;
    }
}

#ContentWrapper {
    //background-image: url('../img/guns.jpg');
    .Sections {
        &:nth-child(1) {
            background-image: url('../images/Guns3.png');
        }

        &:nth-child(2) {
            background-image: url('../images/chinese.png');
        }

        &:nth-child(3) {
            background-image: url('../images/fuse2.png');
        }

        &:nth-child(4) {
            background-image: url('../images/bulle2t.png');
        }

        &:nth-child(5) {
            background-image: url('../images/flintlock4.png');
        }

        &:nth-child(6) {
            background-image: url('../images/duelling2.png');
        }

        &:nth-child(7) {
            background-image: url('../images/gatlinggun.png');
        }

        &:nth-child(8) {
            background-image: url('../images/ww1.png');
        }

        &:nth-child(9) {
            background-image: url('../images/2000-bg.png');
        }

        #InnerSection1 {
            .layout-inner-sections;
            text-align: center;

            #ButtonHiglight1 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }

        #InnerSection2 {
            .layout-inner-sections;
            top: 205%;
            text-align: center;

            #ButtonHiglight2 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 15px;
                        }
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 40px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    .button {
                        display: inline-block;
                        text-transform: uppercase;
                        color: white;
                        background: #2980b9;
                        border-radius: 4px;
                        padding: 10px 15px;
                        margin: 5px 5px;
                        letter-spacing: 2px;
                        font-size: 24px;
                        font-weight: 200;
                        font-family: DRIVEBY;
                        text-decoration: none;
                        cursor: pointer;
                        width: 40%;
                    }

                    h3 {
                        font-size: 40px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 30px 0 30px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    #FireworkDiv {
                        .ExplosionImg {
                            margin: 50px 30px 30px 30px;

                            img {
                                height: 120px;
                                margin: 15px 20px 15px 20px;
                            }
                        }

                        .FireworkLauncher {
                            margin: 30px 30px 30px 30px;

                            img {
                                height: 140px;
                                margin: 10px 20px;
                            }
                        }
                    }
                }
            }
        }

        #InnerSection3 {
            .layout-inner-sections;
            top: 405%;
            text-align: center;

            #ButtonHiglight3 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;


                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }

                    .bomb-section {
                        margin: 30px;
                        height: 70%;

                        img {
                            height: 360px;
                            float: left;
                        }

                        #TimerDiv {
                            font-size: 45px;
                            font-family: DRIVEBY;
                            color: #464646;
                            font-weight: 200;
                        }
                    }
                }
            }
        }

        #InnerSection4 {
            .layout-inner-sections;
            top: 605%;
            text-align: center;

            #ButtonHiglight4 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }

        #InnerSection5 {
            .layout-inner-sections;
            top: 805%;
            text-align: center;

            #ButtonHiglight5 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }


        #InnerSection6 {
            .layout-inner-sections;
            top: 1005%;
            text-align: center;

            #ButtonHiglight6 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }



        #InnerSection7 {
            .layout-inner-sections;
            top: 1205%;
            text-align: center;

            #ButtonHiglight7 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }

        #InnerSection8 {
            .layout-inner-sections;
            top: 1405%;
            text-align: center;

            #ButtonHiglight8 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }

        #InnerSection9 {
            .layout-inner-sections;
            top: 1605%;
            text-align: center;

            #ButtonHiglight9 {
                margin-top: 50px;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 200;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 30px;
                    }

                    h3 {
                        font-size: 45px;
                        font-family: DRIVEBY;
                        color: #464646;
                        font-weight: 300;
                        margin: 10px 0 10px 0;
                        padding: 0;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 20px 0 20px 0;
                            font-size: 32px;
                        }
                    }

                    p {
                        font-family: Utsaah, Arial;
                        font-size: 24px;
                        font-weight: 200;
                        letter-spacing: 1px;
                        margin: 30px;
                        color: #606060;

                        @media screen and (max-width: 1281px), screen and (max-height: 900px) {
                            margin: 40px 30px 30px 30px;
                        }
                    }
                }
            }
        }
    }
}
