@font-face {
  font-family: 'Bullet';
  src: url('../fonts/BulletInYourHead.ttf') format('truetype');
}
@font-face {
  font-family: 'DRIVEBY';
  src: url('../fonts/DRIVEBY.TTF') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ColorChange {
  background-color: #e74c3c;
}
#FixedMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  text-align: center;
}
#FixedMenu h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 60px;
  font-family: Bullet;
  font-weight: 200;
  margin: 10px 10px 3px 10px;
  padding: 0;
  z-index: 71;
  cursor: pointer;
}
#FixedMenu .button {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  background: #2980b9;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px 5px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 200;
  font-family: DRIVEBY;
  text-decoration: none;
  cursor: pointer;
}
#ContentWrapper .Sections:nth-child(1) {
  background-image: url('../images/Guns3.png');
}
#ContentWrapper .Sections:nth-child(2) {
  background-image: url('../images/chinese.png');
}
#ContentWrapper .Sections:nth-child(3) {
  background-color: black;
}
#ContentWrapper .Sections #InnerSection1 {
  width: 90%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  position: absolute;
  top: 5%;
  left: 0;
  bottom: 0;
  right: 0;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox {
  height: 100%;
  width: 100%;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #left-side {
  float: left;
  width: 35%;
  height: 90%;
  margin-left: 13%;
  margin-right: 2%;
  padding-top: 15px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #left-side img {
  margin: 30px;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #left-side h3 {
  font-size: 45px;
  font-family: DRIVEBY;
  color: #464646;
  font-weight: 300;
  margin: 10px 0 10px 0;
  padding: 0;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #left-side p {
  font-family: Utsaah, Arial;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 40px;
  color: #606060;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #right-side {
  float: left;
  width: 35%;
  height: 90%;
  margin-right: 13%;
  margin-left: 2%;
  padding-top: 15px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #right-side img {
  margin: 30px;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #right-side h3 {
  font-size: 45px;
  font-family: DRIVEBY;
  color: #464646;
  font-weight: 300;
  margin: 10px 0 10px 0;
  padding: 0;
}
#ContentWrapper .Sections #InnerSection1 .ContentBox #right-side p {
  font-family: Utsaah, Arial;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 40px;
  color: #606060;
}
#ContentWrapper .Sections #InnerSection2 {
  width: 90%;
  height: 60%;
  background-color: purple;
  margin: auto;
  position: absolute;
  top: 205%;
  left: 0;
  bottom: 0;
  right: 0;
}
#ContentWrapper .Sections #InnerSection3 {
  width: 90%;
  height: 60%;
  background-color: yellow;
  margin: auto;
  position: absolute;
  top: 410%;
  left: 0;
  bottom: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */