@font-face {
    font-family: 'Bullet';
    src: url('../fonts/bulletinyourhead.woff') format('woff');
}

@font-face {
    font-family: 'driveby';
    src: url('../fonts/driveby.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#FixedMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    text-align: center;

    h1 {
        color: white;
        letter-spacing: 1px;
        font-size: 60px;
        font-family: Bullet;
        font-weight: 200;
        margin: 10px 10px 0 10px;
        padding: 0;
        z-index: 71;
        cursor: pointer;

        @media screen and (max-width: 1500px) {
            font-size: 45px;
            margin: 5px 5px 0 5px;
        }

        @media screen and (max-width: 1280px) {
            font-size: 40px;
            margin: 10px 10px 0 10px;
        }

        @media screen and (device-width: 360px) {
            font-size: 25px;
            margin: 5px;
        }
    }
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background: #2980b9;
    border-radius: 4px;
    padding: 10px 15px 7px 15px;
    margin: 5px;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 200;
    font-family: driveby;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 1500px) {
        font-size: 22px;
        
    }

    @media screen and (max-width: 1280px) {
        font-size: 20px;
        padding: 5px 10px;
    }

    @media screen and (device-width: 360px) {
        font-size: 12px;
        padding: 5px;
        margin: 2px;
    }
}

.layout-inner-sections {
    width: 90%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

    @media screen and (max-width: 1280px) {
        top: 0;
    }
}

.layout-left-side {
    float: left;
    width: 35%;
    height: 100%;
    margin-left: 13%;
    margin-right: 2%;
    padding-top: 15px;
    background-color: rgba(255,255,255,1);
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;

    @media screen and (max-width: 1500px) {
        width: 40%;
        height: 103%;
        margin-left: 8%;
    }
}

.layout-right-side {
    float: left;
    width: 35%;
    height: 100%;
    margin-right: 13%;
    margin-left: 2%;
    padding-top: 15px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;

    @media screen and (max-width: 1500px) {
        width: 40%;
        height: 103%;
        margin-right: 8%;
    }
}

.image-layout {
    margin: 30px;

    @media screen and (max-width: 1500px) {
        margin: 10px;
        height: 80px;
    }

    @media screen and (max-width: 1280px) {
        margin: 10px;
        height: 70px;
    }

    @media screen and (device-width: 360px) {
        margin: 0;
        height: 30px;
    }
}

.title-layout {
    font-size: 45px;
    font-family: driveby;
    color: #464646;
    font-weight: 200;
    margin: 10px 0 10px 0;
    padding: 0;

    @media screen and (max-width: 1500px) {
        margin: 5px 0;
        font-size: 25px;
    }

    @media screen and (max-width: 1280px) {
        margin: 5px 0;
        font-size: 25px;
    }

    @media screen and (device-width: 360px) {
        margin: 10px;
        font-size: 18px;
    }
}

.text-layout {
    font-family: Utsaah, Arial;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 30px;
    color: #606060;

    @media screen and (max-width: 1500px) {
        margin: 10px 15px;
        font-size: 20px;
    }

    @media screen and (max-width: 1280px) {
        margin: 10px 15px;
        font-size: 16px;
    }

    @media screen and (device-width: 360px) {
        margin: 10px;
        font-size: 8px;
    }
}

.timer-layout {
    font-size: 150px;
    font-family: driveby;
    color: #464646;
    font-weight: 200;

    @media screen and (max-width: 1500px) {
        font-size: 100px;
    }

    @media screen and (max-width: 1280px) {
        font-size: 100px;
    }
}

.button-highlight-layout {
    margin-top: 50px;

    @media screen and (max-width: 1500px) {
        margin-top: 25px;
    }
}

.section-height-width {
}

#ContentWrapper {
    //background-image: url('../img/guns.jpg');
    .Sections {
        &:nth-child(1) {
            .section-height-width;
            background-image: url('../images/bg-home.jpg');

            @media screen and (max-width: 1500px) {
                background-position: center;
            }
        }

        &:nth-child(2) {
            background-image: url('../images/bg-1300.jpg');

            @media screen and (max-width: 1500px) {
                background-position: 20% center;
            }
        }

        &:nth-child(3) {
            background-image: url('../images/bg-1400.jpg');

            @media screen and (max-width: 1500px) {
                background-position: center 0;
            }
        }

        &:nth-child(4) {
            background-image: url('../images/bg-1500.jpg');

            @media screen and (max-width: 1500px), screen and (max-height: 700px) {
                background-position: center;
            }
        }

        &:nth-child(5) {
            background-image: url('../images/bg-1600.jpg');

            @media screen and (max-width: 1500px), screen and (max-height: 700px) {
                background-position: center;
            }
        }

        &:nth-child(6) {
            background-image: url('../images/bg-1700.jpg');

            @media screen and (max-width: 1500px) {
                background-position: center 15%;
            }
        }

        &:nth-child(7) {
            background-image: url('../images/bg-1800.jpg');

            @media screen and (max-width: 1500px), screen and (max-height: 700px) {
                background-position: center;
            }
        }

        &:nth-child(8) {
            background-image: url('../images/bg-1900.jpg');

            @media screen and (max-width: 1500px) {
                background-position: center 0;
            }
        }

        &:nth-child(9) {
            background-image: url('../images/bg-2000.jpg');

            @media screen and (max-width: 1500px) {
                background-position: center 0;
            }
        }

        #InnerSection1 {
            .layout-inner-sections;

            #ButtonHiglight1 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }
            }
        }

        #InnerSection2 {
            .layout-inner-sections;
            top: 205%;

            @media screen and (max-width: 1280px) {
                top: 200%;
            }

            #ButtonHiglight2 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    .button {
                        .button;
                    }

                    h2 {
                        .title-layout;
                        font-size: 40px;
                    }

                    #FireworkDiv {
                        .ExplosionImg {
                            margin: 50px 30px 30px 30px;

                            @media screen and (max-width: 1500px) {
                                margin: 20px;
                            }

                            @media screen and (max-width: 1280px) {
                                margin: 10px;
                            }

                            img {
                                height: 120px;
                                margin: 15px 20px 15px 20px;

                                @media screen and (max-width: 1500px) {
                                    height: 100px;
                                    margin: 10px;
                                }

                                @media screen and (max-width: 1280px) {
                                    height: 100px;
                                    margin: 5px;
                                }
                            }
                        }

                        .FireworkLauncher {
                            margin: 30px 30px 30px 30px;

                            @media screen and (max-width: 1500px) {
                                margin: 10px;
                            }

                            @media screen and (max-width: 1280px) {
                                margin: 5px;
                            }

                            img {
                                height: 140px;
                                margin: 10px 20px;

                                @media screen and (max-width: 1500px) {
                                    height: 100px;
                                }

                                @media screen and (max-width: 1280px) {
                                    height: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #InnerSection3 {
            .layout-inner-sections;
            top: 405%;

            @media screen and (max-width: 1280px) {
                top: 400%;
            }

            #ButtonHiglight3 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;


                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }

                    .bomb-section {
                        margin: 30px 30px 30px 20px;
                        height: 70%;
                        text-align: center;

                        img {
                            height: 360px;
                            float: left;

                            @media screen and (max-width: 1500px) {
                                height: 240px;
                            }

                            @media screen and (max-width: 1280px) {
                                height: 200px;
                            }
                        }

                        .right-side-defuse {
                            float: right;
                            width: 170px;
                            margin-right: 13px;
                            margin-top: 15px;

                            @media screen and (max-width: 1280px) {
                                width: 200px;
                                margin-right: 10px;
                            }

                            #TimerDiv {
                                .timer-layout;

                                p {
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #InnerSection4 {
            .layout-inner-sections;
            top: 605%;

            @media screen and (max-width: 1280px) {
                top: 600%;
            }

            #ButtonHiglight4 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 10px;
                        height: 150px;

                        @media screen and (max-width: 1500px) {
                            height: 115px;
                            margin: 0;
                        }

                        @media screen and (max-width: 1280px) {
                            height: 105px;
                            margin: 0;
                        }
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                        margin: 10px 5px 5px 5px;
                    }
                }
            }
        }

        #InnerSection5 {
            .layout-inner-sections;
            top: 805%;

            @media screen and (max-width: 1280px) {
                top: 800%;
            }

            #ButtonHiglight5 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        margin: 5px;
                        height: 80px;

                        @media screen and (max-width: 1500px) {
                            margin: 0;
                            height: 55px;
                        }
                    }

                    h2 {
                        .title-layout;
                        font-size: 35px;
                    }

                    p {
                        .text-layout;
                        margin: 10px 30px 10px 30px;
                    }
                }
            }
        }


        #InnerSection6 {
            .layout-inner-sections;
            top: 1005%;

            @media screen and (max-width: 1280px) {
                top: 1000%;
            }

            #ButtonHiglight6 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }

                    .target-section {
                        margin: 30px 30px 30px 20px;
                        height: 70%;
                        text-align: center;

                        img {
                            height: 360px;
                            float: left;

                            @media screen and (max-width: 1500px) {
                                height: 240px;
                            }

                            @media screen and (max-width: 1280px) {
                                height: 200px;
                            }
                        }

                        .right-side-target {
                            float: right;
                            width: 170px;
                            margin-right: 20px;
                            margin-top: 15px;

                            #TimerDivDuel {
                                .timer-layout;

                                p {
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }



        #InnerSection7 {
            .layout-inner-sections;
            top: 1205%;

            @media screen and (max-width: 1280px) {
                top: 1200%;
            }

            #ButtonHiglight7 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        width: 330px;
                        margin: 0 100px;

                        @media screen and (max-width: 1500px) {
                            width: 250px;
                        }
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }

                    .button {
                        -moz-user-select: none;
                        -ms-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                    }
                }
            }
        }

        #InnerSection8 {
            .layout-inner-sections;
            top: 1405%;

            @media screen and (max-width: 1280px) {
                top: 1400%;
            }

            #ButtonHiglight8 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }
            }
        }

        #InnerSection9 {
            .layout-inner-sections;
            top: 1605%;

            @media screen and (max-width: 1280px) {
                top: 1600%;
            }

            #ButtonHiglight9 {
                .button-highlight-layout;
            }

            .ContentBox {
                height: 100%;
                width: 100%;

                .left-side {
                    .layout-left-side;

                    img {
                        .image-layout;
                    }

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }
                }

                .right-side {
                    .layout-right-side;

                    h2 {
                        .title-layout;
                    }

                    p {
                        .text-layout;
                    }

                    #Location {
                        margin: 30px;

                        @media screen and (max-width: 1500px) {
                            margin: 15px;
                        }

                        iframe {
                            width: 100%;
                            height: 240px;
                            border-width: 0;

                            @media screen and (max-width: 1500px) {
                                height: 190px;
                            }

                            @media screen and (max-width: 1280px) {
                                height: 170px;
                            }
                        }
                    }
                }
            }
        }
    }
}
